torch==2.3.1
torchvision==0.18.1
numpy==1.26.1
Pillow
huggingface_hub
einops
safetensors
open3d
accelerate
xformers
gradio
opencv-python-headless
line_profiler
# pip install torch-cluster -f https://data.pyg.org/whl/torch-2.3.1+cu121.html
# conda install colmap -c conda-forge